
.logo{
    width: auto;
    height: auto;
    margin-left: 30px;
}

.access-page{
    margin-top: 50px;
}

#back-arrow {
    width: 40px;
    margin-left: 30px;
    margin-bottom: 15px;
}

#Register{
    font-weight: 500;
}

#Set{
    margin-top: -6px;
    margin-left: 7px;
}

#firstName, #lastName{
    width: 250px;
}

#email, #username, #password1, #password2{
    width: 600px;
}

.reg_form{
    border: 1px solid black;
    height: 40px;
    border-radius: 13.5px;
    margin-top: 10px;
}

.input{
    margin-top: 15px;
}

#Confirm{
    height: 46px;
    width: 140px;
    border-radius: 13.5px;
    border: 1px solid black;
    color: #ffffff;
    background-color: #FFC629;
    transition: 0.3s;
}

#Confirm:hover {
    background-color: #FFA000;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid gray;
    margin: 0 10px;
}

#number_msg{
    margin-left: 72px;
    color: var(--text-color);
}

.phone{
    margin-left: 64px;
}

#phone{
    height: 53px;
    width: 480px;
    border-radius: 13.5px;
}